<h1>Confirm Your Order</h1>
<p>Total: <%= number_to_currency(@order.total) %></p>
<p>Tax: <%= number_to_currency(@order.tax) %></p>

<% @cart_items.each do |cart_item| %>
  <div class="cart-item">
    <p><%= cart_item.product.product_name %> - <%= cart_item.quantity %> x <%= number_to_currency(cart_item.product.product_price) %></p>
  </div>
<% end %>

<%= form_for @order, url: orders_path, data: { turbo: false } do |f| %>
  <%= f.hidden_field :total, value: @order.total %>
  <%= f.hidden_field :tax, value: @order.tax %>
  <%= f.submit 'Place Order', class: 'btn btn-primary' %>
<% end %>

