<!DOCTYPE html>
<html lang="en">
<head>
  <title>TheDevDen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <header style="background: #964B00; padding: 5px; text-align: center;">
    <h1>The Dev Den</h1>
  </header>
  <%= render 'partials/navbar' %>
  <%= yield %>
  <% flash.each do |key, value| %>
    <div class="<%= key %>"><%= value %></div>
  <% end %>
  <footer style="background: #964B00; padding: 5px; text-align: center; margin-top: 10px;">
    <p>&copy; 2023 GemCraft</p>
    <p><%= link_to 'Contact Us!', contact_path %></p>
  </footer>
</body>
</html>
