<%= form_with(model: user, url: account_path, method: :patch) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

   <div>
    <%= form.label :province_id %>
    <%= form.collection_select :province_id, Province.all, :id, :province_name, prompt: 'Select province' %>
  </div>


  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Profile' %>
  </div>
<% end %>
