
<!-- app/views/accounts/show.html.erb -->
<h1>Your Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<p>Address: <%= @user.address %></p>
<p>Country: <%= @user.country %></p>
<p>Province: <%= @user.province %></p>
<p>Postal Code: <%= @user.postal_code %></p>
<%= link_to 'Edit Profile', edit_account_path %>
